
.main-div{
  width: 100%;
  height: 100%;
background-color: transparent;
display: flex;
align-items: center;
justify-content: space-around;


}
.main-div::after {
  content: "";
  background-image: url("../../../assets/images/kesley.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: 320px
}
.main-title{

  background-color: transparent;
  display: inline;
  position: relative;
  color: aliceblue;
}

.developer{
  font-size: 5em;
  transform: rotate(180deg);
  writing-mode: vertical-lr; 
  background-color: transparent;
  display: inline-block;
  position: relative;
  right: 0 ;
  bottom: 0;
}
.developer p{
  background-color: transparent;
}
.descriptions{
  width: 50%;
}

@media (max-width: 600px){


  
  .main-title{
    margin-left: 0px;
    flex-grow: 1;
  }

}