.experiencia{
    margin-bottom: 15px;
    font-size: 16px;
}
.experiencia p {
    padding-top: 3px;
    padding-bottom: 3px;
}
.experiencia-titulo{
    font-size: 18px;
    color: #ffffff;
    font-weight: bolder;
}

.periodo{
    color: #999999;
}

textarea{
    height: 80px;
}

.card{

background-color: #202020;

}
.label{
    margin-right: 20px;
}
.form-flex-edit{
    display: flex;
    flex-direction: column !important;
}
