<h1 class="titulo">Experiências         
    <button mat-mini-fab color="primary" (click)="novo()"  *ngIf="loginService.usuario?.token" >

    <mat-icon >
        
        add_circle_outline
    </mat-icon>
</button></h1>
<div class="container-experiencias" *ngIf="!onAdd">
    <mat-spinner [strokeWidth]='3' [diameter]="30" *ngIf="!experiencias"   mode="indeterminate"></mat-spinner>

    <ng-container *ngFor="let experiencia of experiencias" >

        <app-experiencia [experiencia]="experiencia" (removido)="remover($event)"  (experienciaEdit)="atualizaLista($event)"></app-experiencia>
        <mat-divider color="primary"></mat-divider>
    </ng-container>

</div>
 
<app-experiencia-add  *ngIf="onAdd" (Cancelar)="cancelar() " (Adicionar)="adicionar($event)"></app-experiencia-add>