.form-flex{
    display: flex;
    flex-direction: column;
    width: 30%;
margin: 0 auto;
margin-top: 75px;

}
label.active {
    color: royalblue !important;
  }
.label{
    color: aqua;
}


@media (max-width: 800px){
    .form-flex{

        width: 50%;

    }
}