
        <form class="form-flex" [formGroup]="Usuario" (ngSubmit)="login()">
            <mat-form-field class="label">
              <mat-label class="label">E-mail</mat-label>
              <input matInput autocomplete="off" placeholder="E-mail" formControlName="email">
              <mat-error *ngIf="Usuario.controls.email.hasError('required')">

                Campo de E-mail obrigatório
            </mat-error>   
            <mat-error *ngIf="Usuario.controls.email.hasError('email')">
                E-mail inválido
            </mat-error>
            </mat-form-field>
          
            <mat-form-field class="label">
              <mat-label class="label">Password</mat-label>
              <input matInput autocomplete="off" type="password" placeholder="Password" name="password" formControlName="password">
              <mat-error *ngIf="Usuario.controls.password.hasError('required')">
                Campo senha obrigatório
              </mat-error>
            </mat-form-field>
            <mat-error *ngIf="erroMSG">
                {{erroMSG}}
              </mat-error>

            <button mat-raised-button color="primary" [class.spinner]="isLoading" [disabled]="isLoading || !Usuario.valid" >Entrar</button>
        
        
      
          </form>