<h1 class="titulo">Formação Acadêmica e Complementar

    <button mat-mini-fab color="primary" (click)="novo()"  >

        <mat-icon >
            
            add_circle_outline
        </mat-icon>
    </button>

</h1>

<div class="container-cursos" *ngIf="onAdd" >
    <app-curso-add (cancelarEmiter)="cancelar()" [criacao]="true" [cursoNovo]="novoCurso"></app-curso-add>

</div>

<div class="container-cursos" *ngIf="!onAdd" >
    <h3 class="titulo-curso">Graduação</h3>
    
    <mat-spinner [strokeWidth]='3' [diameter]="30"  *ngIf="!cursos" mode="indeterminate">Carregando</mat-spinner>

    <div *ngFor="let curso of cursos">
        
    <ng-container *ngIf="curso.tipo_curso == 'Graduação'">
        
        <app-curso class="course" [curso]="curso" (cursoAtualizado)="atualiza($event)"></app-curso>
        <mat-divider color="primary"></mat-divider>
    </ng-container>
    
    
</div>

<h3 class="titulo-curso">Ensino Médio Profissionalizante</h3>
<mat-spinner [strokeWidth]='3' [diameter]="30" *ngIf="!cursos" mode="indeterminate"></mat-spinner>


<div style="margin-bottom: 15px;"  *ngFor="let curso of cursos">
    
    
    <ng-container *ngIf="curso.tipo_curso == 'Ensino Médio Profissionalizante'">
        
        <app-curso class="course" [curso]="curso"  (cursoAtualizado)="atualiza($event)"></app-curso>
        <mat-divider color="primary"></mat-divider>
    </ng-container>
    
</div>


<h3 class="titulo-curso">Cursos Complementares</h3>
<mat-spinner [strokeWidth]='3' [diameter]="30" *ngIf="!cursos" mode="indeterminate"></mat-spinner>

<div  *ngFor="let curso of cursos">
    
    <ng-container *ngIf="curso.tipo_curso == 'Cursos Complementares'">
        
        <app-curso class="course" [curso]="curso" (cursoAtualizado)="atualiza($event)"></app-curso>
        <mat-divider color="primary"></mat-divider>
    </ng-container>
    
</div>



</div>