.titulo-curso{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 25px;
    font-weight: bolder;
    color: white;
}
.titulo{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}
.container-cursos{

margin: 0 auto;
width: 60vw;


}

mat-divider{
    border-top-color: #606060;
    margin-bottom:  30px;
}

@media (max-width: 600px){
    .container-cursos{
        padding-bottom: 50px;
        width: 80vw;
    }
}