<h1 class="titulo">Formação Acadêmica e Complementar</h1>

<div class="container-cursos">
<h3 class="titulo-curso">Graduação</h3>

    <div *ngFor="let curso of cursos | async">
        
    <ng-container *ngIf="curso.tipo_curso == 'Graduação'">
        
        <app-curso class="course" [curso]="curso"></app-curso>
    </ng-container>
    
    
</div>

<h3 class="titulo-curso">Ensino Médio Profissionalizante</h3>
<div style="margin-bottom: 15px;"  *ngFor="let curso of cursos | async">
    
    
    <ng-container *ngIf="curso.tipo_curso == 'Ensino Médio Profissionalizante'">
        
        <app-curso class="course" [curso]="curso"></app-curso>
    </ng-container>
    
</div>


<h3 class="titulo-curso">Cursos Complementares</h3>
<div  *ngFor="let curso of cursos | async">
    
    <ng-container *ngIf="curso.tipo_curso == 'Cursos Complementares'">
        
        <app-curso class="course" [curso]="curso"></app-curso>
    </ng-container>
    
</div>

</div>