
.periodo{
    color: #999999;
}

textarea{
    height: 80px;
}

.card{
width: 80%;
background-color: #202020;
margin: 0 auto;
margin-bottom: 60px;

}
.label{
    margin-right: 20px;
}
.form-add-edit{
    display: flex;
    flex-direction: column !important;
}