<mat-card class="card">

    <mat-card-content>
        <form class="form-flex" [formGroup]="Curso" (ngSubmit)="submit()">

            <mat-form-field class="label form-field">
                <mat-label class="label">Nome do curso</mat-label>
                <input matInput placeholder="Ex: Curso Angular 9" autocomplete="off" formControlName="nome">
                <mat-error *ngIf="Curso.controls.nome.hasError('required')">

                    Nome é obrigatório
                </mat-error>

            </mat-form-field>

            <mat-form-field class="label form-field">
                <mat-label class="label">Tipo do curso</mat-label>
                <mat-select formControlName="tipo_curso" >
                    <mat-option value="Cursos Complementares" class="select">Cursos Complementares</mat-option>
                    <mat-option value="Graduação" class="select">Graduação</mat-option>
                    <mat-option value="Ensino Médio Profissionalizante" class="select">Ensino Médio Profissionalizante</mat-option>
                </mat-select>
                <mat-error *ngIf="Curso.controls.tipo_curso.hasError('required')">

                    Tipo do curso é obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="label form-field">
                <mat-label class="label">Intituição</mat-label>
                <input matInput placeholder="Ex: Fatec" autocomplete="off" formControlName="instituicao">

                <mat-error *ngIf="Curso.controls.instituicao.hasError('required')">

                    Instituição é obrigatório
                </mat-error>
            </mat-form-field>

            <div class="label form-field">
                <label class="label">Status</label>
                <div>

                    <mat-radio-group  class="radio" formControlName="status">
                        <mat-radio-button value="Cursando"  [checked]="Curso.value.status == 'Cursando'">Cursando</mat-radio-button>
                        <mat-radio-button value="Interrompido"   [checked]="Curso.value.status == 'Interrompido'">Interrompido</mat-radio-button>
                        <mat-radio-button value="Concluído"   [checked]="Curso.value.status == 'Concluído'">Concluído</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="Curso.controls.status.hasError('required')">

                        Status é obrigatório
                    </mat-error>
                </div>
            </div>

<div>

    <mat-form-field class="label "  *ngIf="Curso.value.status == 'Concluído'">
        <mat-label class="label">Mes de conlusão</mat-label>
        <input matInput placeholder="Ex: Janeiro" autocomplete="off" formControlName="mes_conclusao">
    </mat-form-field>
    
    
    <mat-form-field class="label"  *ngIf="Curso.value.status == 'Concluído'">
        <mat-label class="label">Ano de conlusão</mat-label>
        <input matInput placeholder="Ex: 2020" autocomplete="off" formControlName="ano_conclusao">
    </mat-form-field>
</div>

        </form>
    </mat-card-content>
    <mat-card-actions>
        <button type="submit" (click)="submit()" mat-raised-button color="primary" [class.spinner]="isLoading"
            [disabled]="isLoading || !Curso.valid">Salvar</button>

        <button mat-raised-button color="warn" type="cancel" (click)="cancelar()">Cancelar</button>
    </mat-card-actions>
</mat-card>