.main-container{
    display: flex;
    background-color: transparent;
}
.content{
    width: 100%;
    box-sizing: border-box;
    margin-left: 60px;
    background-color: transparent;
    height: 90vh;
}
.nav-container{
    width: 60px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-right: .5px solid #454545;
    height: 100vh;
    position: fixed;
    background-color: rgba(48, 48, 48, .9);
}


svg path {
    fill: #cccccc;
  }
  a:hover svg path {
    fill: #4dfcff;
  }

.ul-container{
    display: flex;
    background-color: transparent;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    
}
.ul-container li {
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.nav-container ul li a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 8px;
    background-color: transparent;
    
}


.nav-container ul li a:hover {
    color: #4dfcff;
    background-color: #808088;
    
}

i{
    background-color: transparent;

}

.selected i{
    color: #4dfcff ;
}
.selected svg path {
    fill: #4dfcff ;
}
.selected:hover i{
    color: #4dfcff;
}
.selected{
    border-left: 3px solid #4dfcff;
    color: #4dfcff ;
                                
}
@media (max-width: 600px){
    .main-container{
        flex-flow: column;
        
    }
    .nav-container{
        width: 100vw;
        height: 65px;
        border-top: .5px solid #454545;
        border-right:none;
        flex-flow: row;
        
        
        position: fixed;
        bottom: 0;
    }
    .ul-container{
        display: flex;
        
        flex-flow: row;
        
        align-items: center;
        flex-grow: 1;
        
    }
    .ul-container li {
        
        height: 100%;
        
    }
    
    .content{
        
        margin-left: 0px;
        
        
    }
    
    .selected{
        border-left: none;
        border-top: 3px solid #4dfcff;
       background-color: transparent !important;
        
    
    }
}