<div class="main-content">

    <h2 class="repos-name"><a href="{{repositorio.html_url}}" target="_blank">{{repositorio.name}}</a></h2>
    <p class="description">{{repositorio.description}}</p>
    <div class="repo-descirption">
        <p>
            {{repositorio.language}}
        </p>
        <p *ngIf="repositorio.day_update < 30">
            Updated {{repositorio.day_update}} days ago
        </p>
        <p *ngIf="repositorio.day_update >= 30">
            Updated on {{ repositorio.updated_at | date: 'dd'}} {{ repositorio.updated_at.toString().slice(4,7)}}
        </p>
    </div>
   

    
    


</div>