/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
    background-color: transparent;
    /* background-color: #303030; */
    color: #cccccc;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #303030;
}

.ripple:hover i{
    /* background-color: #606060; */
    color: #4dfcff;
}


.ripple {
    background-position: center;
    transition: background 0.7s;
  }
  .ripple:hover {
    background: #606060 radial-gradient(circle, transparent 1%, #707070 1%) center/15000%;
  }
  .ripple:active {
    background-color: #858585;
    background-size: 100%;
    transition: background 0s;
  }


  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

  ::-webkit-input-placeholder {
    color: #cccccc !important;
 }
  
 :-moz-placeholder { /* Firefox 18- */
    color: #cccccc !important;  
 }
  
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #cccccc !important;  
 }
  
 :-ms-input-placeholder {  
    color: #cccccc !important;  
 }
::ng-deep  .mat-form-field-underline{
    background-color: #cccccc !important;    
}
  
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #50d0fb !important;
  }
.input-100{
  width: 100%;

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
