<div class="main-github">

    <div class="user-repos">
        <app-userrespos [userRepos]="(user | async)"></app-userrespos>
        
    </div>
    
    <div class="repos"  >
        <h1>Repositórios</h1>
        <mat-spinner [strokeWidth]='3' [diameter]="30" *ngIf="!repositorios"  mode="indeterminate">Carregando</mat-spinner>

        <ng-container *ngFor="let repositorio of repositorios | async">
            <app-repositorios [repositorio]="repositorio"></app-repositorios>
           
        </ng-container>
    </div>
</div>
    
    
    


