.userMain{
    /* margin: 20px auto 0 20px; */

    border: 0.4px solid #cccccc;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    width: 100%;
  
}

.userImg{
   max-width: 150px;
   max-height: 150px;
   width: 100%;
   margin: 0 auto;
   display: block;
}

.name{
    font-size: 1.2em;
    font-weight: bolder;
    margin: 5px 0 5px 10px;
}
p{
    margin: 5px 0 5px 10px;
    font-size: 1em;
}
                #bio{
                    margin-top: 15px;
                    margin-bottom: 5px;
                }
.followers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: end;
}
.user{
    display: flex;
    flex-direction: column;
}
.div-button{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.git-button{
    border: .5px solid #cccccc;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-size: .8em;
    border-radius: 7px;
}
.followers p {
    font-size: .8em;
    margin: 10px 0;
}

@media (max-width: 900px){
    /* .userMain{

        width: 30%;
      
    } */
}

@media(max-width: 600px){
    .userMain{
        /* height: 35%;
        width: 90%; */
        flex-direction: row;
        align-items: center;
    }
    .user{
        margin-right: 5px;
    }
}