<div *ngIf="userRepos" class="userMain">
    <img class="userImg" [src]="userRepos.avatar_url" alt="Imagem do avatar de um usuário do Github">


    <div class="user">

        <h1 class="name">{{userRepos.name}}</h1>
        <p class="login">{{userRepos.login}}</p>
        <p id="bio">{{userRepos.bio}}</p>

        <div class="followers">


            <p>Followers: {{userRepos.followers}}</p>
            <p>Following: {{userRepos.following}}</p>
        </div>
        <div class="div-button">

            <a class="git-button ripple" [href]="userRepos.html_url"  target="_blank">Ver Github</a>
        </div>
    </div>
</div>

<div *ngIf="!userRepos">
    <h1>Carregando...
    <mat-spinner [strokeWidth]='3' [diameter]="30"   mode="indeterminate">Carregando</mat-spinner>

    </h1>

</div>
